
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% if cart_list != [] %}
            {% for melon in cart_list %}
            <tr>
                <td>{{melon.common_name}}</td>
                <td>{{melon.amt}}</td>
                <td>{{"${:.2f}".format(melon.price)}}</td>
                <td>{{"${:.2f}".format(melon.total_price)}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <h3>Total: 
        {% if cart_list != [] %}
        {{ "${:.2f}".format(cart_total) }}
        {% else %}
        $0.00
        {% endif %}

    </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
